# -*- coding: utf-8 -*-
# vim: ft=yaml
---
influxdb:
  config: /etc/influxdb/config.toml
  system_user: influxdb
  system_group: influxdb
  toml_module: toml
  pip_pkg: python3-pip
  pkg:
    name: influxdb2
  service:
    name: influxdb
  # config options found in the influxdb docs
  conf:
    http-bind-address: ':8086'
    log-level: 'info'
  tmpl:
    config: 'salt://influxdb/files/influxdb.config.jinja'
    etc_default: 'salt://influxdb/files/influxdb.etc_default'
